.tabbody {
	width: 800px; 
	height: 860px; 
	border: 1px solid transparent;
	padding: 10px;
	border-radius: 2px;
}
.tabheader {
	
}
.tabheader > *:focus {
	outline: 0;
	background-color: white;
}
.tabheader > * {
	border-top-right-radius: 10px;
	border-color: darkgray;
	border-bottom-color: lightgray;
	border-width: 1px;
	margin-left: 2px;
}

.App {
	padding: 20px;
}
.productsImg{
    width: 10em;
    height: 10em;
    border-radius: 40%;
}
.showBasket { 
    display: inline-block; 
    position: relative;
    float: right;
    margin-top:-500px;
    background-color: deeppink;
    border: 3px solid black;
    
} 
.ProductList {
    font-size: 20px;
    color:mediumvioletred;
    background-color:rgba(239, 185, 235, 0.99);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20%;
    text-align: center;
    margin-bottom:7%;
    padding-bottom:2%;
    
}

.Form {
    font-size: 10px;
    color:white;
    background-color:rgba(244, 247, 173, 0.99);
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20%;
    text-align: center;
    
    padding:2%;
    
}



#ADDPRODUCT{color:chartreuse;}
#DELETEPRODUCT{color:crimson;}
#BASKET {color:aqua;}
#DELETEBASKET{color:blueviolet;}
