.tabbody {
	width: 800px; 
	height: 860px; 
	border: 1px solid black;
	padding: 10px;
	border-radius: 2px;
}
.tabheader {
	
}
.tabheader > *:focus {
	outline: 0;
	background-color: white;
}
.tabheader > * {
	border-top-right-radius: 10px;
	border-color: darkgray;
	border-bottom-color: lightgray;
	border-width: 1px;
	margin-left: 2px;
}

.App {
	padding: 20px;
}
.productsImg{
    width: 10em;
    height: 10em;
    border-radius: 40%;
}